# Fixed versions for Python 3.11 Stability
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
matplotlib==3.8.2

# AI Engine
torch==2.2.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.1 --index-url https://download.pytorch.org/whl/cpu
shap==0.44.0

# System & UI Fixes
protobuf==3.20.3
streamlit==1.32.0
geopy
requests
altair
fastapi
uvicorn