streamlit
pandas
numpy
requests
python-dotenv
pydeck
geopy
mapbox
geopandas
plotly
matplotlib
scikit-learn>=1.5.0
torch
torchvision
mlflow
fastapi
uvicorn
pydantic
python-multipart
httpx
pywin32; sys_platform == 'win32'
alembic
contourpy